@import "bourbon/bourbon";
@import "base/base";
@import "fonts";

body {
  background-color: #E0D5AD;
}
// .dropbtn {
//   background-color: #4CAF50;
//   color: white;
//   padding: 16px;
//   font-size: 16px;s
//   border: none;
// }

#container {
  width: 1000px;
  overflow: hidden;
  margin: 50px auto;
  background: #E0D5AD;
  z-index: 2
}

.photobanner {
  height: 440px;
  width: 2000px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.photobanner img {
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	transition: all 0.2s ease;
  margin: 20px 0;
}

.photobanner img:hover {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
	cursor: pointer;

	-webkit-box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
	box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
}

.first {
	-webkit-animation: bannermove 30s linear infinite;
	   -moz-animation: bannermove 30s linear infinite;
	    -ms-animation: bannermove 30s linear infinite;
	     -o-animation: bannermove 30s linear infinite;
	        animation: bannermove 30s linear infinite;
}

@keyframes "bannermove" {
 0% {
    margin-left: 0px;
 }
 100% {
    margin-left: -2125px;
 }

}

@-moz-keyframes bannermove {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -2125px;
 }

}

@-webkit-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -2125px;
 }

}

@-ms-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -2125px;
 }

}

@-o-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -2125px;
 }

}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #92A78C;
  min-width: 140px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #F7CD82;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #5B584F;
}

.dropdown:hover .dropdown-content {
  display: block;
}

// .dropdown:hover .dropbtn {
  // background-color: #3e8e41;
// }

li {
  display: inline-block;
  padding: 10px 30px 10px 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #F7CD82;
}

a:hover {
  color: #92A78C;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.headerContainer {
  background-color: #E0D5AD;
}

nav {
  background-color: #5B584F;
  margin-top: -1em;
  // position: -webkit-sticky;
  // position: sticky;
  // top: 3em;
}

ul {
  padding: 0 0 0 15px;
  text-align: center;
}

h1 {
  font-family: $londrina-shadow;
  font-size: 36px;
  color: #5B584F;
  padding: 10px 10px 0 15px;
  background-color: #E0D5AD;
}

h3 {
  font-size: 24px;
  color: #F79E6B;
  padding: 10px 10px 0 15px;
}

p {
  color: #5B584F;
  padding: 10px 20px 0 20px;;
}

* {
  box-sizing: border-box;
}

.slideshow-container {
  max-width: 600px;
  position: relative;
  margin: auto;
  z-index: -1;
}

.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
   from {
     opacity: .4
   }
   to {
     opacity: 1
   }
}

@keyframes fade {
   from {
     opacity: .4
   }
   to {
     opacity: 1
   }
}

#tips {
   text-align: left;
   padding: 0 20px;
   color: #5B584F;
}

input:invalid {
   background-color: #ffdddd;
 }

input:valid {
  background-color: #ddffdd;
}

input:required {
  border-color: #800000;
  border-width: 3px;
}
