@import url("https://fonts.googleapis.com/css?family=Londrina+Shadow");
button, [type='button'], [type='reset'], [type='submit'] {
  appearance: none;
  background-color: #1565c0;
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1.5em;
  text-align: center;
  text-decoration: none;
  transition: background-color 150ms ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  button:hover, [type='button']:hover, [type='reset']:hover, [type='submit']:hover {
    background-color: #11519a;
    color: #fff; }
  button:focus, [type='button']:focus, [type='reset']:focus, [type='submit']:focus {
    outline: 3px solid rgba(21, 101, 192, 0.6);
    outline-offset: 2px; }
  button:disabled, [type='button']:disabled, [type='reset']:disabled, [type='submit']:disabled {
    cursor: not-allowed;
    opacity: 0.5; }
    button:disabled:hover, [type='button']:disabled:hover, [type='reset']:disabled:hover, [type='submit']:disabled:hover {
      background-color: #1565c0; }

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0; }

legend {
  font-weight: 600;
  margin-bottom: 0.375em;
  padding: 0; }

label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.375em; }

input,
select,
textarea {
  display: block;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  font-size: 16px; }

[type='color'], [type='date'], [type='datetime'], [type='datetime-local'], [type='email'], [type='month'], [type='number'], [type='password'], [type='search'], [type='tel'], [type='text'], [type='time'], [type='url'], [type='week'], input:not([type]), textarea {
  appearance: none;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-bottom: 0.75em;
  padding: 0.5em;
  transition: border-color 150ms ease;
  width: 100%; }
  [type='color']:hover, [type='date']:hover, [type='datetime']:hover, [type='datetime-local']:hover, [type='email']:hover, [type='month']:hover, [type='number']:hover, [type='password']:hover, [type='search']:hover, [type='tel']:hover, [type='text']:hover, [type='time']:hover, [type='url']:hover, [type='week']:hover, input:not([type]):hover, textarea:hover {
    border-color: #b1b1b1; }
  [type='color']:focus, [type='date']:focus, [type='datetime']:focus, [type='datetime-local']:focus, [type='email']:focus, [type='month']:focus, [type='number']:focus, [type='password']:focus, [type='search']:focus, [type='tel']:focus, [type='text']:focus, [type='time']:focus, [type='url']:focus, [type='week']:focus, input:not([type]):focus, textarea:focus {
    border-color: #1565c0;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(21, 101, 192, 0.7);
    outline: none; }
  [type='color']:disabled, [type='date']:disabled, [type='datetime']:disabled, [type='datetime-local']:disabled, [type='email']:disabled, [type='month']:disabled, [type='number']:disabled, [type='password']:disabled, [type='search']:disabled, [type='tel']:disabled, [type='text']:disabled, [type='time']:disabled, [type='url']:disabled, [type='week']:disabled, input:not([type]):disabled, textarea:disabled {
    background-color: #f2f2f2;
    cursor: not-allowed; }
    [type='color']:disabled:hover, [type='date']:disabled:hover, [type='datetime']:disabled:hover, [type='datetime-local']:disabled:hover, [type='email']:disabled:hover, [type='month']:disabled:hover, [type='number']:disabled:hover, [type='password']:disabled:hover, [type='search']:disabled:hover, [type='tel']:disabled:hover, [type='text']:disabled:hover, [type='time']:disabled:hover, [type='url']:disabled:hover, [type='week']:disabled:hover, input:not([type]):disabled:hover, textarea:disabled:hover {
      border: 1px solid #ddd; }
  [type='color']::placeholder, [type='date']::placeholder, [type='datetime']::placeholder, [type='datetime-local']::placeholder, [type='email']::placeholder, [type='month']::placeholder, [type='number']::placeholder, [type='password']::placeholder, [type='search']::placeholder, [type='tel']::placeholder, [type='text']::placeholder, [type='time']::placeholder, [type='url']::placeholder, [type='week']::placeholder, input:not([type])::placeholder, textarea::placeholder {
    color: #858585; }

textarea {
  resize: vertical; }

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

[type="file"] {
  margin-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 0.75em;
  width: 100%; }

[type="checkbox"]:focus,
[type="radio"]:focus,
[type="file"]:focus,
select:focus {
  outline: 3px solid rgba(21, 101, 192, 0.6);
  outline-offset: 2px; }

html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html,
body {
  height: 100%; }

body {
  margin: 0; }

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }

dl {
  margin: 0; }

dt {
  font-weight: 600;
  margin: 0; }

dd {
  margin: 0; }

figure {
  margin: 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

table {
  border-collapse: collapse;
  margin: 1.5em 0;
  table-layout: fixed;
  text-align: left;
  width: 100%; }

thead {
  line-height: 1.2;
  vertical-align: bottom; }

tbody {
  vertical-align: top; }

tr {
  border-bottom: 1px solid #ddd; }

th {
  font-weight: 600; }

th,
td {
  padding: 0.75em 0.75em 0.75em 0; }

html {
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  font-size: 100%;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  font-size: 1.25em;
  line-height: 1.2;
  margin: 0 0 0.75em; }

p {
  margin: 0 0 0.75em; }

a {
  color: #1565c0;
  text-decoration-skip: ink;
  transition: color 150ms ease; }
  a:hover {
    color: #104c90; }
  a:focus {
    outline: 3px solid rgba(21, 101, 192, 0.6);
    outline-offset: 2px; }

hr {
  border-bottom: 1px solid #ddd;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0; }

body {
  background-color: #d7d2cc;
  display: flex;
  flex-direction: column; }

html, body {
  height: 100%; }

main {
  flex: 1 0 auto;
  padding-bottom: 3em; }

#mobile-image-container {
  display: none; }

#mobile-image-container img {
  padding: .2em; }

#container {
  width: 1000px;
  overflow: hidden;
  margin: 50px auto;
  background: #d7d2cc; }

.photobanner {
  height: 440px;
  width: 2000px;
  margin-top: 20px;
  margin-bottom: 20px; }

.photobanner img {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
  margin: 20px 0; }

.photobanner img:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  cursor: pointer;
  -webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2); }

.first {
  -webkit-animation: bannermove 30s linear infinite;
  -moz-animation: bannermove 30s linear infinite;
  -ms-animation: bannermove 30s linear infinite;
  -o-animation: bannermove 30s linear infinite;
  animation: bannermove 30s linear infinite; }

@keyframes "bannermove" {
  0% {
    margin-left: 0px; }
  100% {
    margin-left: -2125px; } }
@-moz-keyframes bannermove {
  0% {
    margin-left: 0px; }
  100% {
    margin-left: -2125px; } }
@-webkit-keyframes "bannermove" {
  0% {
    margin-left: 0px; }
  100% {
    margin-left: -2125px; } }
@-ms-keyframes "bannermove" {
  0% {
    margin-left: 0px; }
  100% {
    margin-left: -2125px; } }
@-o-keyframes "bannermove" {
  0% {
    margin-left: 0px; }
  100% {
    margin-left: -2125px; } }
@-webkit-keyframes fade {
  from {
    opacity: 0.4; }
  to {
    opacity: 1; } }
@keyframes fade {
  from {
    opacity: 0.4; }
  to {
    opacity: 1; } }
hr {
  color: white;
  border: none;
  height: 3px;
  background-color: white;
  width: 80%;
  margin: 2em auto; }

.quote-box {
  margin: .1em; }

.quote {
  padding: 1em; }

.quote-box .quoted {
  display: block;
  font-size: 1.2em;
  text-align: right;
  margin: 10px;
  padding: 10px;
  font-style: italic; }

.quote-marks {
  font-size: 2.4em;
  font-family: serif;
  color: white;
  line-height: .7em;
  display: inline-block;
  padding: -20px 0 0 0; }

li {
  display: inline-block;
  padding: 10px 30px 10px 0;
  margin: 0; }

a {
  text-decoration: none;
  color: white; }

a:hover {
  color: #d7d2cc;
  text-decoration: none;
  font-weight: bold; }

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10000; }

.headerContainer {
  background-color: white; }

nav {
  background-color: #4183ac;
  margin-top: -.5em; }

#menu-mobile {
  display: none;
  width: 100%;
  height: 40px;
  padding: 8px;
  text-align: center; }

ul {
  padding: 0 0 0 15px;
  text-align: center; }

h1 {
  font-family: "Londrina Shadow", cursive;
  font-size: 36px;
  color: #93877a;
  padding: 10px 10px 0 10px;
  background-color: white; }

h3 {
  font-size: 24px;
  color: #4183ac;
  padding: 20px 10px 0 0; }

h4 {
  margin: 0; }

.text-container {
  background-color: rgba(0, 0, 0, 0); }

.text-container p {
  padding: 10px; }

.text-container h4 {
  padding: 10px 0 0 10px; }

.photo-container {
  background-color: rgba(0, 0, 0, 0); }

.photo-container img {
  padding: 10px;
  position: relative;
  width: 100%; }

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: white; }

.photo-container:hover .overlay {
  opacity: 0.8; }

.overlay-text {
  color: #5B584F;
  font-size: 1em;
  line-height: 1.3em;
  position: absolute;
  top: 25%;
  left: 30%;
  transform: translate(-20%, -20%);
  -ms-transform: translate(-20%, -20%);
  text-align: center; }

.overlay-p {
  color: #5B584F; }

.photo-container img:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  cursor: pointer; }
  .photo-container img:hover text-container .description {
    visibility: visible; }

p {
  color: black;
  padding: 10px 20px 0 0; }

* {
  box-sizing: border-box; }

.slideshow-container {
  max-width: 600px;
  position: relative;
  margin: auto; }

.mySlides {
  display: none; }

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0; }

.next {
  right: 0;
  border-radius: 3px 0 0 3px; }

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8); }

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0; }

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease; }

.active, .dot:hover {
  background-color: #717171; }

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s; }

footer {
  background-color: #4183ac;
  flex-shrink: 0; }

.address {
  color: white;
  padding: 1em 0;
  text-align: center; }

.social {
  padding: 1em 0;
  text-align: center;
  color: white; }

.social img {
  padding: .5em;
  max-width: 50px; }

#tips {
  text-align: left;
  padding: 0 20px;
  color: #5B584F; }

input:invalid {
  background-color: #ffdddd; }

input:valid {
  background-color: #ddffdd; }

input:required {
  border-color: #800000;
  border-width: 3px; }

.paragraph-padding {
  padding-top: 2em; }

button {
  background-color: #4183ac;
  margin: 0 auto; }

input {
  padding-bottom: 0; }

.mobile-cats-container {
  display: none; }

.desktop-cats-container {
  display: block; }

.form-group input {
  background-color: white;
  border: 0; }

.desktop-hidden {
  display: none; }

@media (max-width: 455.98px) {
  h1 {
    font-size: 32px;
    padding: 10px 0; } }
@media (min-width: 768px) and (max-width: 991.98px) {
  .overlay-text {
    font-size: .7em;
    line-height: 1em; } }
@media (max-width: 768px) {
  h1 {
    text-align: center;
    font-size: 32px; }

  #menu-mobile {
    display: inline-block; }

  nav ul, nav:active ul {
    display: none;
    position: absolute;
    padding: 10px;
    background: #4183ac;
    left: 25%;
    top: 104px;
    width: 50%; }

  nav li {
    text-align: center;
    width: 100%;
    padding: 10px 0;
    margin: 0; }

  nav:hover ul {
    display: block; }

  #container {
    width: 480px;
    overflow: hidden;
    margin: 50px auto; }

  .photobanner {
    height: 200px;
    width: 880px;
    margin-top: 20px;
    margin-bottom: 20px; }

  .photobanner img {
    width: 280px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
    margin: 20px 0; }

  .photobanner img:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    cursor: pointer;
    -webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2); }

  .overlay-text {
    font-size: .8em;
    line-height: 1.1em; }

  .mobile-cats-container {
    display: block; }

  .desktop-cats-container {
    display: none; }

  .desktop-hidden {
    visibility: visible; }

  .photo-container:focus .overlay {
    opacity: 0.8; } }

/*# sourceMappingURL=main.css.map */
